.matei-plus {
    grid-area: matei-plus;
}
.matei-7 {
    grid-area: matei-7;
}
.matei-8 {
    grid-area: matei-8;
}
.matei-9 {
    grid-area: matei-9;
}
.matei-minus {
    grid-area: matei-minus;
}
.matei-4 {
    grid-area: matei-4;
}
.matei-5 {
    grid-area: matei-5;
}
.matei-6 {
    grid-area: matei-6;
}
.matei-ori {
    grid-area: matei-ori;
}
.matei-1 {
    grid-area: matei-1;
}
.matei-2 {
    grid-area: matei-2;
}
.matei-3 {
    grid-area: matei-3;
}
.matei-slesh {
    grid-area: matei-slesh;
}
.matei-0 {
    grid-area: matei-0;
}
.matei-punct {
    grid-area: matei-punct;
}
.matei-egal {
    grid-area: matei-egal;
}
.matei-c {
    grid-area: matei-c;
}
